


 header h1{
	color: black;
 	font-family: Arial,sans-serif;
	font-style: italic;
 	text-align: center;
}

body {
	background-image: url('sky.jpg');
 	background-size: cover;
 	background-position: top center;
}

select {
	width: 100%;
	max-width: 350px;
	padding: 10px 10px;
	border: none;
	outline: none;
	background-color: rgba(255,255,255,0.85);
	border-radius: 16px 0px 16px 0px;
	border-bottom: 3px solid blue;
	color: #313131;
	font-size: 20px;
	font-weight: 300;
	transition: 0.2s ease-out;
		

}
 .city{
 	background-color: rgba(255,255,255,0.3);
 	align-content: center;
 	width: 200px;
 	display: none;
}
		 


.box {
	display: flex;
   	flex-flow: row wrap;
   	justify-content: space-around;
   	align-items: center;
   	text-align: center;
}

a : link {
	
	color : bleue;
}

a : hover {
	
	color : purple;
}
a : visited {
	
	color : red;
}

